* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #a0a0a0;
    font-family: Arial, sans-serif;
    background: url("../images/svet-fon-oboi.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

button {
    cursor: pointer;
}

.modal-overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.2s linear;
    overflow: auto;
}

.modal-overlay.unloaded {
    opacity: 0;
}

.scroll-wrapper {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
}

.scroll-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

}

.modal-wrapper {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 25px 20px;
    flex-grow: 1;
}

.modal-header,
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header h3 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

.modal-body,
.modal-footer {
    margin-top: 25px;
}

.modal-footer .submit-btn + .submit-btn {
    margin-left: 3px;
}

.submit-btn {
    color: #fff;
    text-transform: capitalize;
    background-color: steelblue;
    padding: 10px 15px;
    border: 1px solid #367fa9;
}

.submit-btn:hover {
    background-color: #367fa9;
}

.input-wrapper label {
    display: block;
}

.input-wrapper input,
.input-wrapper select {
    color: #999;
    width: 100%;
    padding: 10px;
    border: 2px solid #d2d7de;
}

.input-wrapper input:disabled,
.input-wrapper select:disabled {
    background-color: #eee;
}

.input-wrapper + .input-wrapper {
    margin-top: 20px;
}

.input-wrapper .error {
    color: #a94442;
    font-size: 0.8em;
    display: none;
    margin: 0;
    margin-top: 5px;
}

.input-wrapper.invalid input,
.input-wrapper.invalid select {
    border-color: #dd4939;
}

.input-wrapper.invalid .error {
    display: block;
}

.user-info-wrapper {
    margin-bottom: 25px;
}

.user-info-row p {
    margin-top: 0;
    margin-bottom: 5px;
}

.user-info-key {
    color: #696969;
    font-weight: bold;
}
